.imgDiv{
    margin-top: -1%;
  }
  .header {
    display: flex;
    background-color:white;
    margin-top: 0.2%;
    margin-bottom: 1%;
  }
  .headerLink{
    text-decoration: none;
    color: black !important;
    padding-right: 2rem;
    font-size:20px;
    padding-top: 0.5em;
  }
@media only screen and (max-width: 1024px) {
.headerLink{
    font-size: 16px;
    padding-top: 1.5em !important;
 }
}
@media only screen and (max-width: 600px) {
.headerLink {
    padding-right:1rem;
    font-size: 18px;
    margin-top: 0.5%;
}
} 
