.card{
  padding: 5px;
  margin: 20px 2.5px 5px;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 12px;
 }
 .colContainer{
   margin-left: 50%;
   margin-top: -465px;
 }
 .cardText,.cardTitle,.cardDetail{
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.cardTitle{
  font-size: 26px;
}
.cardDetail{
  font-size: 20px;
}
.cardSubtext{
  font-size:16px;
  margin-bottom:2px;
}
.button,.exploreButton {
  background-color: #6c63ff; 
  border: none;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 8px;
  margin-top: 5px;
  text-align: center;
}
.exploreButton{
  font-size: 20px;
  margin-top: -5px;
}
.detailButton {
  background-color: #6c63ff; 
  border: none;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 8px;
  margin-top: 5px;
  text-align: center;
}
.noDataFound{
  text-align: center;
  font-size: 22px;
  padding-top: 5%;
 }
@media only screen and (max-width: 1024px) {
  .cardText{
    font-size: 22px;
  }
  .button{
    margin-bottom: 18px;
  }
  .colContainer{
    margin-left: 0;
    margin-top: 0;
  }
}
@media only screen and (max-width: 600px) {
  .cardText{
    font-size: 24px;
    text-align: center;
  }
  .cardSubtext{
    font-size: 20px;
    text-align: center;
  }
  .button{
    font-size: 18px;
    margin-right: 8px;
  }
  .noDataFound{
    text-align: center;
    padding-top:0;
   }
   .colContainer{
    margin-left: 0;
    margin-top: 0;
  }
  @media only screen and (min-width:1000px) {
    .colContainer{
      margin-left: 50%;
      margin-top: -40.5%;
    }
  }
} 
